//Styling for the form

//Add Option Error
.add-option-error {
  color: $light-purple;
  font-style: italic;
  margin: $m-size;
  padding: 0 $m-size;
}

//Add Option
.add-option {
  display: flex;
  padding: $m-size;

}

.add-option__input {
  flex-grow: 1;
}
