//Styling for the form

//Add Option Error
.add-option-error {
  color: $light-purple;
  font-style: italic;
  margin: $m-size;
  padding: 0 $m-size;
}

//Add Option
.add-option {
  display: flex;
  padding: $m-size;

}

.add-option__input {
  background: $dark-blue;
  border: none;
  color: $light-purple;
  border-bottom: .3rem solid darken($dark-blue, 10%);
  flex-grow: 1;
  margin-right: $s-size;
  padding: $s-size;
}
