.header {
  background: $off-black;
  color: white;
  margin-bottom: $xl-size;//space between header and things below it
  padding: $m-size 0;
}

//problem using this: nesting and specificity issues.
//we want to avoif callback hell and nesting
//h1 {
//  color: red;
//}

//BEM naming convntion - block element modifier
//getbem.com
.header__title{ //naming convention, no special meaning
  font-size: $l-size;
  margin: 0;
}

.header__subtitle{ //naming convention, no special meaning
  color: $light-purple;
  font-size: $m-size;
  font-weight: 500;
  margin: 0;
}