
.widget {
  background: $light-blue;
}
//widget Header

//class selector
.widget-header {
background: $blue;
  color: $light-purple;
  display: flex;
  justify-content: space-between; //extra space distributed between those two elements
  padding: $m-size;
}

.widget-header__title{
  margin: 0;
}